body{
    background: rgb(255, 255, 255);
}

.default-ui{
  height: 100vh;
  float:right;
  
 
}
.left{
  
  height: 100vh;
  width: 240px;
  padding-top: 20px;
  background-color: #0043fc27;
  position: absolute;

}
.dropdown{
  width: 100%;
  text-align: center;
  transition: transform .2s;
  box-shadow: 0 0 2px 2px rgba(68, 151, 174, 0.938);
}
.dropdown:hover{
  box-shadow: 0 0 5px 3px rgba(40, 206, 62, 0.968);
}

.text h1{
  color: rgb(255, 255, 255);
  
}
.mi-col{
 
  width: auto;
  height: auto;
  padding:10px;
  text-align: center;
  display: block;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #fff;
  transition: transform .2s;
  box-shadow: 0 0 2px 2px rgba(68, 151, 174, 0.938);
  z-index: 3;

}
.mi-col:hover{
  box-shadow: 0 0 5px 3px rgba(40, 206, 62, 0.968);
  /* background-color: rgb(241, 200, 123); */
  transform:translateX(10px);
 
}

.mi-col h3{
  font-size: 20px;
}



.split{
 
    display:flex;

}

.right {
 
  position: static;
  width: 100%;
  height: 100vh;
  float:right;
}



.typ{
  display: flex;
  height: 100vh;
  width: 100%;
}









@media only screen and (max-width:700px){
  
}

.show {
  display: block;
}
.hide {display:none;}







@keyframes animation3 {
  from {
      left: 100%;
      opacity: 0;
  }
  to {
      opacity: 1;
      left: 35%;
  }    
}









.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  padding: 8px 15px;
  color: #333;
}

/* Show the Dropdown Menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.otherMenuSidebar{
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.services .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  background: #fdeff2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #e43c5c;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #e43c5c;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}

.services {
  padding-bottom: 30px;
}

.services .icon-box:hover .icon i {
  color: #fff;
}


/*--------------------------- */ 

.slide{
  height: 100%;
  width: 200px;
  position: absolute;
  background-color: #494ce7b0;
  transition: 0.5s ease;
  transform: translateX(-200px);
  z-index: 1;
}
h5{
  color: rgb(255, 255, 255);
  text-align: center;
  pointer-events: none;
  padding-top: 20px;
  padding-left: 30px;
}
label{
  z-index: 4;
}

input{
  display: none;
  visibility: hidden;
  
}
/*---------       ------------*/
.toggle{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  cursor: pointer;
  border-radius:2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: rgb(215, 15, 61);
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top_line{
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .middle_line{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.toggle .bottom_line{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
  left: 2px;
  top: 14px;
  width: 25px;  
  transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
  opacity: 0;
  transform: translatex(20px);
} 
input:checked ~ .slide{
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

}



