body{
    background-color: #000;
}

.h3, .display-1, .display-3{
    color: #fff;
}

.cards{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 05%, rgba(252,70,107,1) 100%);
    color: #fff;
    box-shadow: 5px 5px #888888;
    padding: 10px
    
}

.cards:hover{
    transform: scale(1.1);
}

.navbar{
    box-shadow: 5px 5px #888888;
    padding: 20px;
}

a{
    text-decoration: none;
}

.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.tutor-card{
    color: #fff;
}

.tutor-card:hover{
    transform: scale(1.1);
}

.description{
    color: rgb(255, 255, 255, 0.8);
    font-size: 1rem;
}

.description:hover{
    color: rgb(255, 255, 255, 1);
}

dt{
    color: #fff;
}

dd{
    color: rgb(255, 255, 255, 0.8);
}

dd, dt{
    padding: 10px;
}