/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jul-2023, 17:20:17
    Author     : isuru
*/

/* Custom CSS for circular profile pictures */
.teacher-img {
  border-radius: 50%;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  /*object-fit: cover; /* Maintain aspect ratio and cover the entire circle */
}

.teacher-card {
  border: 2px solid #007BFF; /* Blue border */
  padding: 15px;
}

.main-heading {
  color: #007BFF;
}

.main-text {
  color: #007BFF;
}

.sub-heading {
  color: #007BFF;
}
